.teams-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  h3.title {
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    font-weight: bold;
    color: "[theme: neutralPrimary]";
    display: flex;
    flex-grow: 1;
    width: 100%;

    &.left {
      justify-content: left !important;
    }
    &.center {
      justify-content: center !important;
    }
    &.right {
      justify-content: right !important;
    }
  }
  .regions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
    button {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      padding: 10px;
      border: 0px;
      background-color: "[theme: themeLighter]";
      color: #000;
      cursor: pointer;
      &:hover,
      &.active {
        background-color: "[theme: themeDark]";
        color: "[theme: white]";
      }
      &.rounded-corners {
        overflow: hidden;
      }
    }
  }
  .teams {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 100px;
    gap: 10px;
    flex-wrap: wrap;

    &.columns {
      &-1 {
        .team {
          max-width: 100%;
        }
      }
      &-2 {
        .team {
          max-width: calc(50% - 10px);
        }
      }
      &-3 {
        .team {
          max-width: calc(33.333% - 10px);
        }
      }
      &-4 {
        .team {
          max-width: calc(25% - 10px);
        }
      }
      &-5 {
        .team {
          max-width: calc(20% - 10px);
        }
      }
      &-6 {
        .team {
          max-width: calc(16.666% - 10px);
        }
      }
    }
  }
  .slick-slider {
    .slick-dots {
      bottom: -30px !important;
      padding: 0px;
      text-align: center;
      padding: 0px;

      li {
        margin: 0px 5px;
        list-style-type: none;
        display: inline-block;
        button {
          padding: 0px;
          border-radius: 50%;
          width: 8px;
          height: 8px;
          background-color: "[theme: neutralTertiary]";
          opacity: 0.25;
          border: none;
          text-indent: -9999px;
          cursor: pointer;
          &:before {
            display: none;
          }
        }
        &.slick-active {
          button {
            background-color: "[theme: themeDarker]";
            opacity: 1;
          }
        }
      }
    }
    .slick-prev,
    .slick-next {
      position: absolute;
      top: calc(50% - 15px);
      text-indent: -9999px;
      opacity: 0.5;
      border: 5px solid "[theme: white]";
      border-width: 4px 4px 0 0;
      background-color: transparent;
      width: 15px;
      height: 17px;
      cursor: pointer;
      &:hover {
        border-color: "[theme: themeDark]";
      }
    }
    .slick-prev {
      left: 10px !important;
      z-index: 99;
      transform: translateY(-50%) rotate(-135deg);
    }
    .slick-next {
      right: 20px !important;
      z-index: 99;
      transform: translateY(-50%) rotate(45deg);
    }
    .slick-slide {
      > div {
        display: flex;
        height: 100%;
        max-height: 100%;
      }
      .team {
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .profile-pic {
          width: 50%;
          img {
            max-width: 100%;
          }
        }
        .details {
          width: 50%;
        }
      }
    }
    .slick-track {
      display: flex;
      flex-direction: row;
      .slick-slide {
        height: inherit;
        display: flex !important;
        flex-direction: row;
        align-items: center;
        margin-right: 10px;
      }
    }
  }
}
.team {
  display: flex;
  flex-grow: 1;
  min-height: 100px;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0px;
  background-color: "[theme: themeLighter]";
  &:hover {
    background-color: "[theme: themeLight]";
  }
  &.rounded-corners {
    overflow: hidden;
  }

  .profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      margin: auto;
      &.default-profile-pic {
        max-width: 60%;
        height: auto;
        opacity: 0.5;
        margin: 20px;
      }
    }
  }
  .details {
    padding: 10px 20px 20px;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
  }
  h4 {
    font-size: 14px;
    font-weight: 600;
    color: "[theme: neutralPrimary]";
    margin: 0px;
  }
  .department {
    font-size: 12px;
    color: "[theme: neutralPrimary]";
  }
  .email {
    font-size: 14px;
    color: "[theme: neutralPrimary]";
    word-break: break-all;
  }
}
.teams {
  &.blockItem {
    .profile-pic{
      height: 150px;
    overflow: hidden;
    }
    .team {
      .details {
        .data {
          display: flex;
          flex-direction: column;
          gap:5px;
          margin-top: 10px;
          .data-item {
            display: flex;
            flex-direction: row;
            gap:5px;
            .icon{
              width: 20px;
              height: 20px;
              img {
                width: 20px;
                height: 20px;
              }
            }
            .label{
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

.arrowsOnHover {
  .slick-prev,
  .slick-next {
    visibility: hidden !important;
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }
  &:hover {
    .slick-prev,
    .slick-next {
      opacity: 1;
      visibility: visible !important;
    }
  }
}
a.seeMore {
  display: flex;
  font-size: 11px;
  font-weight: 600;
  text-decoration: underline;
  color: "[theme: themePrimary]";
  &.left {
    justify-content: left;
  }
  &.right {
    justify-content: right;
  }
  &.center {
    justify-content: center;
  }
}
